body {
  background: black;
  color: white;
  font-family: 'saira';
}
h1 {
  margin-bottom: 0px;
}
div h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.title {
  text-decoration: underline;
}
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  margin-top: 0px;
}

.game {
  text-align: center;
}
.continue-button {
  text-align: right;
}
.dialogue {
  text-align: left;
}
.hidden {
  display: none;
}
