body {
  background: black;
  color: white;
  font-family: 'saira';
  font-size: 18px;
  margin: 20px;
}
h1 {
  font-family: 'special elite';
}
h2 {
  font-family: 'special elite';
}
.title {
  text-decoration: underline;
}
h3 {
  font-family: 'special elite';
}
.dialogue {
  text-align: left;
}
.hidden {
  display: none;
}
button {
  font-size: 1.5rem;
  font-family: 'special elite';
  padding: 5px;
  filter: drop-shadow(5px 5px 2px rgba(169, 169, 169, 0.5));
}
